
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #0626b3;
}
.navbar b{
  color: #0626b3;
  font-size: 50px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0049cf;
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
button {
  background-color: #0626b3;
  color:white;
  outline: none;
  border: none;
}
button:hover{
  background-color: #0049cf;
  color:whitesmoke;
}
.GetToDo{
  display: flex;
  width: 70%;
  padding: 2px;
  margin: 2px;
}
.AddToDo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
  width: 70vh;

}
.AddToDo > *{
  padding: 10px;
}
.AddToDo > TextField
{
  font-size: 100px;
}
.AddToDo > button{
  width: auto;
  height: 40%;
  text-align: center;
  vertical-align: middle;
}
.TextField{
  border-style: dashed;
}
.deleteButtons:hover{
  background-color: red;

}
